$fontePrincipal : Roboto, sans-serif;
$fonteDoTitulo: "Great Vibes", cursive;
$fonteSecundaria: "Kalam", cursive;
$backgroundColor: #846d4d;
$backgroundSecondaryColor: #6c5637;
$backgroundTertiaryColor: #9d8463;
$mainColor: #fff;
$secondaryColor: #000;
